# Dictionary

**Dictionary is a key value pair concept where keys and values are separated by : colon**

One key and one value

In [5]:
student_details = {'sid':1}

In [2]:
type(student_details)

dict

In [6]:
student_details

{'sid': 1}

Multiple keys and Multiple values

In [7]:
student_details = {'sid':1, 'sname':'John', 'sregion':'APAC'}

In [4]:
type(student_details)

dict

In [8]:
student_details

{'sid': 1, 'sname': 'John', 'sregion': 'APAC'}

Multiple Keys and Multiple values in that multiple keys

**We can pass Lists or Tuples or Sets in the values**

In [31]:
student_details = {'sid':[1,2,3,4,5], 'sname':['A','B','C','D','E'], 'sregion':['N','S','S','E','W']}

In [10]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

We cannot have multiple values in a single key

In [11]:
student_details = {['Sid','Sname','Sregion']: [1,2,3,4]}

TypeError: unhashable type: 'list'

We will get 3 because there are 3 key value pairs

In [13]:
len(student_details)

3

In [14]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

In [25]:
student_details['sname']

['A', 'B', 'C', 'D', 'E']

**clear() - It will clear the dictionary**

In [16]:
student_details.clear()

In [17]:
student_details

{}

**copy() - It will create the backup of the existing dictionary**

In [20]:
a = student_details.copy()

In [21]:
a

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

In [22]:
id(a)

2132289131776

In [23]:
id(student_details)

2132289353088

**get() - It gives the values by passing the cosserponding keys**

In [24]:
student_details.get('sname')

['A', 'B', 'C', 'D', 'E']

In [26]:
student_details['sname']

['A', 'B', 'C', 'D', 'E']

**items() - We will get all the keys and values together**

In [27]:
student_details.items()

dict_items([('sid', [1, 2, 3, 4, 5]), ('sname', ['A', 'B', 'C', 'D', 'E']), ('sregion', ['N', 'S', 'S', 'E', 'W'])])

**pop() - Pop command needs the key, and when we pass the key it will remove that key value pair**

In [29]:
student_details.pop('sregion')

['N', 'S', 'S', 'E', 'W']

**In the below command it is renaming the key from sregion to s_region, using the pop command**

In [33]:
student_details['s_region'] = student_details.pop('sregion')

In [34]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 's_region': ['N', 'S', 'S', 'E', 'W']}

**popitem() - It does not take any input, it by default removes the last key value pair**

In [35]:
student_details.popitem()

('s_region', ['N', 'S', 'S', 'E', 'W'])

In [36]:
student_details

{'sid': [1, 2, 3, 4, 5], 'sname': ['A', 'B', 'C', 'D', 'E']}

**setdefault() - It helps us to create the placeholder or a key without any value assigned to it, we can assign the values later once we know the values**

In [37]:
student_details.setdefault('sregion')

How we will assign the values, so below is the command to do that

In [39]:
student_details['sregion'] = ['N','S','S','E','W']

In [40]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

**keys() - It will give me all the keys in the dictionary**

In [43]:
student_details.keys()

dict_keys(['sid', 'sname', 'sregion'])

**values() - Values will give me all the values in the dictionary**

In [44]:
student_details.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W']])

**update() - It will update the dict1 using dict2 as per the below command, in a dictionary there will not be any duplicate keys. The value of Key 1 gets updated to 10 and 11:20 gets added in the dict1**

In [46]:
dict1 = {1:3,5:7,8:9}
dict2 = {1:10, 11:20}

In [47]:
dict1.update(dict2)

In [48]:
dict1

{1: 10, 5: 7, 8: 9, 11: 20}

**How to update the values**

In [49]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

**Here in the below dictionary the value got updated as the values are in the list**

In [52]:
student_details['sid'][2]=10

In [53]:
student_details

{'sid': [1, 2, 10, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

**Here in the below dictionary the value did not get updated as the values are in the tuple**

In [54]:
student_details = {'sid':(1,2,3,4,5), 'sname':('A','B','C','D','E'), 'sregion':('N','S','S','E','W')}

In [58]:
student_details['sid'][2]=10

TypeError: 'tuple' object does not support item assignment

**Can we convert the dictionary to a table (Dataframes)**

pd is an alias

In [60]:
import pandas as pd

In [62]:
df = pd.DataFrame(student_details)

In [64]:
type(df)

pandas.core.frame.DataFrame

In [65]:
df

   sid sname sregion
0    1     A       N
1    2     B       S
2    3     C       S
3    4     D       E
4    5     E       W

# Range

**Range function generates the number in the certain range given by the user, the range should be an int**

In [71]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(5.5,10))

TypeError: 'float' object cannot be interpreted as an integer

**3 is a jump**

In [73]:
list(range(0,10,3))

[0, 3, 6, 9]

**If we pass the number from bigger to smaller we wil get an empty list, however, if we pass -1 after the smaller number we will get the reverse order list**

In [75]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**Nonetype**

In [76]:
customer_name = None

In [78]:
type(customer_name)

NoneType

# Operators in Python

**Arithmetic**

**+ - Addition - Sums up two or more than two values**

**- - Subtraction - Subtracts two or more than two values**

*** - Multiplication - Multiplies two or more than two values**

**/ - Division - Divides two or more than two values** 

**// - Floor Division - Its a Quotient**

**% - Modulo - Its a remainder**

**** - Power - Exponent**

In [82]:
num1 = 10
num2 = 3

print('num1+num2:', num1+num2)
print('num1-num2:', num1-num2)
print('num1*num2:', num1*num2)
print('num1/num2:', num1/num2)
print('num1//num2:', num1//num2)
print('num1%num2:', num1%num2)
print('num1**num2:', num1**num2)

num1+num2: 13
num1-num2: 7
num1*num2: 30
num1/num2: 3.3333333333333335
num1//num2: 3
num1%num2: 1
num1**num2: 1000

**Concat the strings in Python**

In [83]:
'rahul' + 'tiwari'

'rahultiwari'

**Type casting - Converting one datatype to another**

In [85]:
int('10') + int('20')

30

**Relational or Comparision**

**< - Less than** 

**> - More than**

**<= - Less than equal to** 

**>= - More than equal to**

In [89]:
num1 = 10 
num2 = 3
print('num1<num2:', num1<num2)
print('num1<=num2:', num1<=num2)
print('num1>num2:', num1>num2)
print('num1>=num2:', num1>=num2)

num1<num2: False
num1<=num2: False
num1>num2: True
num1>=num2: True

**Equality**

**== - Equals to** 

**!= - Not equals to**

**= - Single equal to sign is an assignment operator, we can assign the values, if we write num1=num2, then num1 will become num2**

In [91]:
num1 = 10
num2 = 3
print('num1==num2:', num1==num2)
print('num1!=num2:', num1!=num2)

num1==num2: False
num1!=num2: True

**Assignment**

**+= - num1 = 100, num1+=50 means num1 = num1+50**

**-= - num1 = 100, num1-=50 means num1 = num1-50**

***= - num1 = 100, num1*=50 means num1 = num1*50**

**/= - num1 = 100, num1/=50 means num1 = num1/50**

**//= - num1 = 100, num1//=50 means num1 = num1//50**

**%= - num1 = 100, num1%=50 means num1 = num1%50**

****= - num1 = 100, num1******=2 means num1 = num1****2**

In [92]:
num1 = 100
num1 +=50
num1

150

In [93]:
num1 = 100
num1 -=50
num1

50

In [95]:
num1 = 100
num1 *=50
num1

5000

In [96]:
num1 = 100
num1 /=50
num1

2.0

In [97]:
num1 = 100
num1 //=50
num1

2

In [98]:
num1 = 100
num1 %=50
num1

0

In [100]:
num1 = 100
num1 **=2
num1

10000

**Ternary**

In [101]:
30 if 10>20 else 40

40

In [102]:
num1 = 7
num2 = 4
num3 = 5
num1 if num1>num2>num3 else num2 if num2>num3 else num3

5

In [103]:
num1 = 7
num2 = 6
num3 = 5
num1 if num1>num2>num3 else num2 if num2>num3 else num3

7

In [104]:
num1 = 3
num2 = 6
num3 = 5
num1 if num1>num2>num3 else num2 if num2>num3 else num3

6

In [107]:
num1 = 7
num2 = 4
num3 = 5
num1 if num1>num2 and num2>num3 else num2 if num2>num3 else num3

5

In [106]:
num1 = 7
num2 = 4
num3 = 5
num1 if num1>num2 or num2>num3 else num2 if num2>num3 else num3

7

**Special**

**Identity Operator**

**is - When the memory locations are same, is will give us true**

**is not - When the memory locations are different, is not will give us true**

**Python by default generates number from -5 to 256 internally while launched, so if we are creating any number between this range it will use the initialied number that is why the memory location coming as same, however if we are going outside the range it will create seperate numbers for every instance and -5 to 256 range holds true only for the integers, it will not hold true for floats as there will be various infinte numbers between two numbers like 250.5 and 250.6 we can can have many numbers between this range**

In [110]:
num1 = 10 
num2 = 10
print(num1 is num2)
print(id(num1))
print(id(num2))

True
2132167649872
2132167649872

In [117]:
num1 = 250.5
num2 = 250.5
print(num1 is not num2)
print(id(num1))
print(id(num2))

True
2132317255312
2132317255344

**Membership Operator**

**in - It checks if the value is present in the list or any other object or not, if it present in will give True** 

**not in - It checks if the values is not present in the list or any other object, if it not present it will give True**

In [120]:
list1 = [10,20,30,40,50]
60 not in list1

True

In [121]:
list1 = [10,20,30,40,50]
50 in list1

True

# Input and output

**Input command by default stores the value in the string format, and if you want to convert we can do the type casting**

In [140]:
age = int(input('Enter your age: '))

Enter your age: 35

In [141]:
type(age)

int

In [142]:
age

35

**\n - New line character, by default end will take \n**

In [154]:
print('Hello',end=' ')
print('Students',end=' ')
print('How are you?',end='\n')

Hello Students How are you?

In [148]:
print('Hello Students How are you?')

Hello Students How are you?

**Sep - By default it passes space, however we can pass any other seperator like -/$**

In [161]:
a = 10
b = 20 
c = 30
print(a,b,c,sep='$ -')

10$ -20$ -30

**If you are not passing the print, it will give us the last line, in the below example it will only print b**

In [146]:
a = 'Hello'
b = 'Hi'
print(a)
print(b)

Hello
Hi

**Different way of printing**

In [164]:
name = 'Rahul'
Salary = 10000
Company = 'Deloitte'
print('Hello', name, 'You salary is: ', Salary, 'Your company is: ', Company)

Hello Rahul You salary is:  10000 Your company is:  Deloitte

In [165]:
print('Hello {}, your salary is {} and your company is {}'.format(name,Salary,Company))

Hello Rahul, your salary is 10000 and your company is Deloitte

In [166]:
print('Hello {}, your salary is {} and your company is {}'.format(Company,name,Salary))

Hello Deloitte, your salary is Rahul and your company is 10000

In [167]:
print('Hello {1}, your salary is {2} and your company is {0}'.format(Company,name,Salary))

Hello Rahul, your salary is 10000 and your company is Deloitte

In [168]:
print('Hello {n}, your salary is {s} and your company is {c}'.format(c=Company,n=name,s=Salary))

Hello Rahul, your salary is 10000 and your company is Deloitte

# Flow Control

**if and else - Based on the satisfying conditions we can get the output**

In [ ]:
if condition:
    getoutput
else:
    getanotheroutput

**The gap is known as tab indentation and it is mandatory, if we are not giving the gap we will get the IndentationError: expected an indented block**

**In the below code, Hi will always print not matter you passed or failed**

In [176]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
else:
    print('You passed the exam')
print('Hi')

Enter the marks: 54
You passed the exam
Hi

**In the below code, we will get Hi when we pass the exam**

In [178]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
else:
    print('You passed the exam')
    print('Hi')

Enter the marks: 21
You failed the exam

**We will get Hi when we fail the exam**

In [179]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
    print('Hi')
else:
    print('You passed the exam')

Enter the marks: 21
You failed the exam
Hi

**Multiple conditions**

In [182]:
marks = int(input('Enter the marks: '))
if marks<40:
    print('You failed the exam')
elif marks>=40 and marks<=60:
    print('You got an average marks')
else:
    print('You got an excellent marks')

Enter the marks: 87
You got an excellent marks

**Banking Examples for if and else**

Account balance check

In [184]:
account_balance = int(input('Enter the account balance: '))
if account_balance>=0:
    print('Your account is in good standing')
else:
    print('Your account balance is negative, please take action')

Enter the account balance: -100
Your account balance is negative, please take action

Loan eligibilty

In [188]:
income = int(input('Enter the income: '))
credit_score = int(input('Enter the credit score: '))

if credit_score>700 and income>50000:
    print('You are eligible for the loan, congratulations!!!')
else:
    print('You are not eligible for the loan, sorry!!!')

Enter the income: 60000
Enter the credit score: 780
You are eligible for the loan, congratulations!!!

Withdrawal limit check

In [190]:
withdrawal_amount = int(input('Enter the amount you want to withdraw: '))
Daily_limit = 1000

if withdrawal_amount<=Daily_limit:
    print('Withdrawal successful')
else:
    print('Withdrawal amount exceeds the daily limit')

Enter the amount you want to withdraw: 1200
Withdrawal amount exceeds the daily limit

Transaction Fees Calculation - Nested if else

In [196]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('Enter the transaction type: ')

if transaction_type == 'withdrawal':
    if transaction_amount>1000:
        transaction_fee = 5
    elif transaction_amount<=1000:
        transaction_fee = 2
elif transaction_type=='deposit':
    transaction_fee = 0
else:
    print('There is an error')

total_amount = transaction_amount+transaction_fee
print('Total amount: ', total_amount)

Enter the transaction amount: 1000
Enter the transaction type: Withdawwwl
There is an error
Total amount:  1000

In [200]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('Enter the transaction type: ')

if transaction_type == 'withdrawal':
    if transaction_amount>1000:
        transaction_fee = 5
        total_amount = transaction_amount+transaction_fee
        print('Total amount: ', total_amount)
    elif transaction_amount<=1000:
        transaction_fee = 2
        total_amount = transaction_amount+transaction_fee
        print('Total amount: ', total_amount)
elif transaction_type=='deposit':
    transaction_fee = 0
    total_amount = transaction_amount+transaction_fee
    print('Total amount: ', total_amount)
else:
    print('There is an error')

Enter the transaction amount: 1322
Enter the transaction type: wd
There is an error

**For loops - When you want to iterate on something, for example: Lists, Tuples, Sets etc**

In [201]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [207]:
import time
company = 'ICICI PRU'
for i in list(range(0,len(company))):
    print(company[i])
    time.sleep(2)

I
C
I
C
I

P
R
U

In [208]:
sales = [3211,2231,1232,1221]
profit = [322,122,122,234]
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.10028028651510433
0.05468399820708202
0.09902597402597403
0.19164619164619165

**Banking examples for For Loops**

Transaction History

In [210]:
transaction_history = [50,-20,100,-30,-10]
print('Transaction History')
for x in transaction_history:
    if x>0:
        print('Deposit: ', x)
    else:
        print('Withdrawal: ', abs(x))

Transaction History
Deposit:  50
Withdrawal:  20
Deposit:  100
Withdrawal:  30
Withdrawal:  10

Account Summation

In [212]:
account_balances = [1000,2000,3000,4000,5000,3000]
total_balance = 0 
for balance in account_balances:
    total_balance +=balance
    
print('Total account balance: ', total_balance)

Total account balance:  18000

Interest Calculation

In [213]:
account_balances = [1000,2000,3000,4000,5000,3000]
interest_rate = 0.05

for i in range(len(account_balances)):
    interest = account_balances[i] * interest_rate
    account_balances[i]+=interest
print('Updated account balances: ', account_balances)

Updated account balances:  [1050.0, 2100.0, 3150.0, 4200.0, 5250.0, 3150.0]

Account Closure

In [216]:
account_numbers = [123456, 789012, 345678, 901234]
account_to_close = int(input('Which account you want to close: '))

for account in account_numbers:
    if account == account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break
    else:
        print('Account not found')
print('Remaining accounts:', account_numbers)

Which account you want to close: 345678
Account not found
Account not found
Closing account:  345678
Remaining accounts: [123456, 789012, 901234]

In [218]:
account_numbers = [123456, 789012, 345678, 901234]
account_to_close = int(input('Which account you want to close: '))

for account in account_numbers:
    if account == account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
        break

print('Remaining accounts:', account_numbers)

Which account you want to close: 345678
Closing account:  345678
Remaining accounts: [123456, 789012, 901234]

In [223]:
account_numbers = [123456, 789012, 345678, 901234]
account_to_close = int(input('Which account you want to close: '))

for account in account_numbers:
    if account == account_to_close:
        print('Closing account: ', account)
        account_numbers.remove(account)
    else:
        print('Account not found')    

print('Remaining accounts:', account_numbers)

Which account you want to close: 345678
Account not found
Account not found
Closing account:  345678
Remaining accounts: [123456, 789012, 901234]

Account Statement

In [224]:
account_transactions = [{"date":"2023-07-01","type":"Deposit","amount":100},
                        {"date":"2023-07-02","type":"Withdrawal","amount":50},
                        {"date":"2023-07-03","type":"Deposit","amount":200},
                        {"date":"2023-07-04","type":"Withdrawal","amount":75}]

In [230]:
print("Account Statement")
for transaction in account_transactions:
    print(transaction['date'], "-", transaction['type'], "-", transaction['amount'])

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdrawal - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdrawal - 75

In [232]:
transaction_date = ["2023-07-01", "2023-07-02","2023-07-03","2023-07-04"]
transaction_type = ["Deposit","Withdrawal","Deposit","Withdrawal"]
transaction_amount = [100,50,200,75]

for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td, '-', tt, '-', ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdrawal - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdrawal - 75

# While Loops

In [ ]:
while condition:
    getoutput

Python discount

**This is an infinite loop, because the condition will always be true**

In [ ]:
coupouns = 5
utilized = 0 
while utilized<coupouns:
    print('The total coupouns left are: ', coupouns-utilized)

In [233]:
coupouns = 5
utilized = 0 
while utilized<coupouns:
    print('The total coupouns left are: ', coupouns-utilized)
    utilized+=1
print('No coupouns left')

The total coupouns left are:  5
The total coupouns left are:  4
The total coupouns left are:  3
The total coupouns left are:  2
The total coupouns left are:  1
No coupouns left

Factorial of a number

In [239]:
number = int(input('Factorial of number: '))
if number<0:
    print('There is no factorial of the negative number')
else:
    result = 1 
    while number>0:
        result = result*number
        number-=1
    print(result)

Factorial of number: -5
There is no factorial of the negative number

In [240]:
while False:
    print('Hi')

**This code will always give me 1 as we are resetting the value of result to 1 in every iteration**

In [243]:
number = 5
while number>0:
    result = 1 
    result = result*number
    number-=1
print(result)

1

In [244]:
number = 5
result = 1
while number>0:
    result = result*number
    number-=1
    print(result)

5
20
60
120
120