# While Loops

1) Pin Validation

In [2]:
correct_pin = 1234
max_attempts = 3
attempts = 0

while attempts<max_attempts:
    pin = int(input("Enter your pin: "))
    if pin == correct_pin:
        print("Pin Accepted, Access Granted")
        break
    else:
        attempts+=1
        print('Incorrect Pin, Attempts remaining: ', max_attempts-attempts)
    
if attempts == max_attempts:
    print('Max attempts reached, Access Denied')

Enter your pin: 1234
Pin Accepted, Access Granted

2) Account Creation with unique account number

In [28]:
import random
existing_account_numbers = [1,2,3,4]
new_account_number = random.randint(1,9)

while new_account_number in existing_account_numbers:
    new_account_number = random.randint(1,9)
    
print("Account Created Successfully, Account number:", new_account_number)

Account Created Successfully, Account number: 5

3) Money Withdrawal with Balance validation

In [30]:
account_balance = 1000
min_balance = 100

withdrawal_amount = float(input('Enter the amount to withdraw'))

while withdrawal_amount>account_balance or withdrawal_amount<min_balance:
    if withdrawal_amount>account_balance:
        print("Insufficient balance, available balance: ", account_balance)
    else:
        print("Invalid withdrawal Amount, minimum withdrawal amount:", min_balance)
    withdrawal_amount = float(input("Enter the amount to withdraw: "))
    
account_balance -= withdrawal_amount
print("Withdrawal successful, remaining balance: ", account_balance)

Enter the amount to withdraw150
Withdrawal successful, remaining balance:  850.0

4) Interest calculation with maximum iterations

In [31]:
account_balance = 5000
interest_rate = 0.05
max_iterations = 10
iteration = 1

while iteration<=max_iterations:
    interest = account_balance*interest_rate
    account_balance+=interest
    iteration+=1
    
print("Final account balance after: ", max_iterations, "iterations: ", account_balance)

Final account balance after:  10 iterations:  8144.473133887207

# Functions

**Functions are reusable codes, which we can reuse in our big codes, it reduces the lines of code**

**def - Means we are defining the function**

**greeting() - Function name, The purpose of the bracket is we can add any of the input parameter in the function, if requred.**

**Below function with no input parameter**

In [32]:
def greeting():
    print('Good Morning')

In [34]:
for i in range(0,15):
    greeting()

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

**Below function with one input parameter**

In [35]:
def greeting(name):
    print('Good Morning', name)

In [37]:
greeting('Riddhi')

Good Morning Riddhi

In [38]:
learners = ['A','B','C','D','E']
for i in learners:
    greeting(i)

Good Morning A
Good Morning B
Good Morning C
Good Morning D
Good Morning E

**Below function with one input parameter and with a default value**

In [45]:
def greeting(name='Learner'):
    ''''This function is wishing good morning and taking name as an input, the default value of name is learner'''
    print('Good Morning', name)

In [41]:
greeting()
greeting('Sanket')

Good Morning Learner
Good Morning Sanket

**Calculator - Printing the outputs**

In [53]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        print(num1+num2)
        print(num1-num2)
        print(num1*num2)
        print(num1/num2)
        
    elif operation=='sum':
        print(num1+num2)
        
    elif operation=='sub':
        print(num1-num2)
        
    elif operation=='mul':
        print(num1*num2)
    
    elif operation=='div':
        print(num1/num2)
    
    else:
        print('Please pass the correct option')

In [55]:
output = calculator(10,3,'sum')

13

In [57]:
type(output)

NoneType

**We cannot use return one below another**

In [58]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return num1+num2
        return num1-num2
        return num1*num2
        return num1/num2
        
    elif operation=='sum':
        return num1+num2
        
    elif operation=='sub':
        return num1-num2
        
    elif operation=='mul':
        return num1*num2
    
    elif operation=='div':
        return num1/num2
    
    else:
        return 'Please pass the correct option'

In [59]:
calculator(10,3)

13

In [60]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return (num1+num2, num1-num2, num1*num2, num1/num2)
        
    elif operation=='sum':
        return num1+num2
        
    elif operation=='sub':
        return num1-num2
        
    elif operation=='mul':
        return num1*num2
    
    elif operation=='div':
        return num1/num2
    
    else:
        return 'Please pass the correct option'

In [63]:
calculator(10,3)

(13, 7, 30, 3.3333333333333335)

In [64]:
def calculator(num1,num2,operation='all'):
    '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
    if operation=='all':
        return {'addition':num1+num2, 'Subtraction':num1-num2, 'multiplication':num1*num2, 'division':num1/num2}
        
    elif operation=='sum':
        return num1+num2
        
    elif operation=='sub':
        return num1-num2
        
    elif operation=='mul':
        return num1*num2
    
    elif operation=='div':
        return num1/num2
    
    else:
        return 'Please pass the correct option'

In [82]:
output = calculator(10,3,'sub')

In [83]:
output

7

In [88]:
num1 = int(input('Enter the first number:'))
num2 = int(input('Enter the second number: '))
calculator(num1,num2)

Enter the first number:10
Enter the second number: 22

{'addition': 32,
 'Subtraction': -12,
 'multiplication': 220,
 'division': 0.45454545454545453}

In [113]:
num1 = input("Enter the number1")
num2 = input("Enter the number2")

if isinstance(num1,int) and isinstance(num2,int):
    def calculator(num1,num2,operation='all'):
        '''In the operation you can pass all i.e. default, sum,sub,mul,div'''
        if operation=='all':
            return {'addition':num1+num2, 'Subtraction':num1-num2, 'multiplication':num1*num2, 'division':num1/num2}
        
        elif operation=='sum':
            return num1+num2
        
        elif operation=='sub':
            return num1-num2
        
        elif operation=='mul':
            return num1*num2
    
        elif operation=='div':
            return num1/num2
    
        else:
            return 'Please pass the correct option'
        
else:
    print("Its a string")

Enter the number1a
Enter the number2b
Its a string

In [114]:
def factorial(num1):
    if num1<0:
        print("There is no factorial of the negative number")
    else:
        result = 1
        while num1>=1:
            result = result*num1
            num1 = num1-1
        return result

In [117]:
factorial(5)

120

**Problem: It will ask us to put the pin only once and then iterate 3 times and deny the access**

In [118]:
def pin_check(pin):
    correct_pin = 1234
    max_attempts = 3
    attempts = 0

    while attempts<max_attempts:
    #pin = int(input("Enter your pin: "))
        if pin == correct_pin:
            print("Pin Accepted, Access Granted")
            break
        else:
            attempts+=1
            print('Incorrect Pin, Attempts remaining: ', max_attempts-attempts)
    
    if attempts == max_attempts:
        print('Max attempts reached, Access Denied')

In [119]:
pin_check(1322)

Incorrect Pin, Attempts remaining:  2
Incorrect Pin, Attempts remaining:  1
Incorrect Pin, Attempts remaining:  0
Max attempts reached, Access Denied

**Solution: We can use the input command inside the function and will not use the function input parameter**

In [121]:
def pin_check():
    correct_pin = 1234
    max_attempts = 3
    attempts = 0

    while attempts<max_attempts:
        pin = int(input("Enter your pin: "))
        if pin == correct_pin:
            print("Pin Accepted, Access Granted")
            break
        else:
            attempts+=1
            print('Incorrect Pin, Attempts remaining: ', max_attempts-attempts)
    
    if attempts == max_attempts:
        print('Max attempts reached, Access Denied')

In [122]:
pin_check()

Enter your pin: 1322
Incorrect Pin, Attempts remaining:  2
Enter your pin: 22
Incorrect Pin, Attempts remaining:  1
Enter your pin: 1234
Pin Accepted, Access Granted

**All the default arguments go at the end**

In [123]:
def interest_calculator(interest = 0.05, amount):
    print(amount*interest)

SyntaxError: non-default argument follows default argument (1714696955.py, line 1)

In [124]:
def interest_calculator(amount, interest = 0.05):
    print(amount*interest)

In [125]:
interest_calculator(1000)

50.0

**Variable Length Argument - Input Argument will vary i.e. today we are adding 3 numbers tomorrow we may add 5 numbers and so on**

In [126]:
def addition(num1,num2):
    print(num1+num2)

In [127]:
addition(10,3)

13

*** Denotes its a variable length argument - Whatever inputs user is passing all the values will get stored in the form of a tuple**

In [129]:
def addition(*num): #(1,2,3,4,5,6,7,8)
    result = 0 
    for i in num:
        result = result + i
    print(result)

In [134]:
addition(2,4,5)

11

**Types of variables in the function**

    1) Global - Any variable which we are declaring anywhere but not in the function 
    2) Local - Any variable which we are declaring inside the function, which can be accessed inside the function only

In [135]:
a = 10 

def f1():
    print('F1:', a)
    
f1()

def f2():
    print('F2:', a)
    
f2()

F1: 10
F2: 10

In [140]:
a = 10 #Global variable - To access this variable we can access from anywhere

def f1():
    a = 100 #Local variable - Local to the function - To access this variable we have to access this function
    print('F1:', a)
    
f1()

def f2():
    print('F2:', a)
    
f2()

F1: 100
F2: 10

In [139]:
a

10

**While we are declaring the local variable a = 100 in the function F1, it should update the global variable a = 10 to a = 100 as well**

In [141]:
a = 10 

def f1():
    global a
    a = 100 
    print('F1:', a)
    
f1()

def f2():
    print('F2:', a)
    
f2()

F1: 100
F2: 100

In [142]:
a

100

In [147]:
a = 10 

def f1():
    print('F1:', a)
    
f1()

def f2():
    global a
    a = 90
    print('F2:', a)
    
f2()

F1: 10
F2: 90

# Lambda Functions

**Lambda Function also known as Nameless Function, Anonymous Function, Without Name**

1) Square of a number

**We are assigning the function to the variable named as square**

In [149]:
square = lambda x:x**2
square(2)

4

2) Addition of a number

In [150]:
addition = lambda a,b:a+b
addition(10,2)

12

3) Interest calculations

In [151]:
calculate_interest = lambda amount,rate : amount*rate

principal = 1000
interest_rate = 0.05

interest = calculate_interest(principal,interest_rate)
print('Interest: ', interest)

Interest:  50.0

4) Account Sorting

In [152]:
accounts = [{"account_number":1234,"Balance":5000},{"account_number":2222,"Balance":3000},{"account_number":9999,"Balance":7000}]

In [154]:
accounts.sort(key=lambda acc:acc["Balance"])
print(accounts)

[{'account_number': 2222, 'Balance': 3000}, {'account_number': 1234, 'Balance': 5000}, {'account_number': 9999, 'Balance': 7000}]

5) Maximum account balance

In [155]:
account_balance = [5000,3000,7000,2000]
max_balance = max(account_balance,key=lambda balance:balance)
print("Maximum balance: ", max_balance)

Maximum balance:  7000

6) Transaction Fee calculation

In [157]:
calculate_fee = lambda amount : 5 if amount>1000 else 2

transaction_amount = 2000
transaction_fee = calculate_fee(transaction_amount)
print("Transaction Fee: ", transaction_fee)

Transaction Fee:  5

**Filter() - filter(function,list) - It will filter out the values based on the condition, In filter if we are passing 5 inputs the output can be 5 or less than 5**

**Map() - map(function,list) - In map if we are passing 5 inputs, the output will always be 5**

**Reduce() - reduce(function,list) - In reduce if we are passing 5 inputs the output will be 1, we can pass the third arguement when we want to initialize the value**

**In the functions which we need to pass in the filter, map and reduce we can pass either lambda function or normal functions**

**Getting the even numbers from the list using filter command**

**Filter**

In [161]:
list_num = [10,11,14,21,23,32,22]
list(filter(lambda x: x%2==0, list_num))

[10, 14, 32, 22]

In [162]:
accounts = [{"account_number":1234,"Balance":5000},{"account_number":2222,"Balance":3000},{"account_number":9999,"Balance":7000}]

In [164]:
filtered_accounts = list(filter(lambda acc:acc['Balance']>4000,accounts))

In [165]:
filtered_accounts

[{'account_number': 1234, 'Balance': 5000},
 {'account_number': 9999, 'Balance': 7000}]

**Map**

1) Double the numbers

In [166]:
list_num

[10, 11, 14, 21, 23, 32, 22]

In [167]:
def double(x):
    return 2*x

In [168]:
list(map(double,list_num))

[20, 22, 28, 42, 46, 64, 44]

2) Interest calculation

In [170]:
account_balances = [1000,2000,1500,5000,2000,3000]
interest_rate = 0.05

calculate_interest = lambda balance:balance*interest_rate

interests = list(map(calculate_interest,account_balances))
print(interests)

[50.0, 100.0, 75.0, 250.0, 100.0, 150.0]

**Reduce**

1) Adding the numbers in the list

In [172]:
list_num

[10, 11, 14, 21, 23, 32, 22]

In [171]:
from functools import *
list_num
reduce(lambda x,y : x+y, list_num)

133

2) Total account balance

In [173]:
account_balance = [1000,2000,3000,5000,1500]
total_balance = reduce(lambda acc1,acc2 : acc1+acc2, account_balance)
print("Total Balance: ", total_balance)

Total Balance:  12500

3) Maximum Account Balance

In [175]:
account_balance
max_balance = reduce(lambda acc1,acc2:max(acc1,acc2), account_balance)
print("Maximum Balance: ", max_balance)

Maximum Balance:  5000

4) Accumulated Interest Calculation

In [178]:
print(account_balance)
interest = 0.05

accumulate_interest = lambda acc1,acc2 : acc1 + (acc2*interest_rate)

total_interest = reduce(accumulate_interest,account_balance,0)

print("Total Interest: ", total_interest)

[1000, 2000, 3000, 5000, 1500]
Total Interest:  625.0

5) Account Balance Deduction - As per the function logic things are fine, but don't know if it will make sense for business point of view

In [182]:
print(account_balance)
account_balance = [-1000,-2000,-3000,-5000,-1500]
withdrawal_amount = 1500

deduct_balance = lambda balance, withdrawal : balance - withdrawal

final_balance = reduce(deduct_balance, account_balance, withdrawal_amount)
print("Final Balance: ", final_balance)

[1000, 2000, 3000, 5000, 1500]
Final Balance:  14000

**Nested Function - Function inside the function**

**inner() function is local to the outer function and can be accessed inside the outer function only**

In [185]:
def outer():
    print('Outer function is running')
    def inner():
        print('Inner function is running')
    inner()
    
outer()

Outer function is running
Inner function is running

1) Calculator

In [186]:
def calculator():
    def add(num1,num2):
        return num1+num2
    
    def subtract(num1,num2):
        return num1 - num2
    
    def multiply(num1,num2):
        return num1*num2
    
    def divide(num1,num2):
        return num1/num2
    
    num1 = 10
    num2 = 2
    
    print("Addition: ", add(num1,num2))
    print("Subtract: ", subtract(num1,num2))
    print("Multiply: ", multiply(num1,num2))
    print("Divide: ", divide(num1,num2))
    
calculator()

Addition:  12
Subtract:  8
Multiply:  20
Divide:  5.0

2) Voting eligibility check

In [188]:
def check_voting_eligibility(age):
    def is_eligible():
        return age>=18
    
    if is_eligible():
        print('You are eligible for voting')
    else:
        print('You are not eligible for voting')

check_voting_eligibility(35)
check_voting_eligibility(15)

You are eligible for voting
You are not eligible for voting

3) Currency conversion

In [190]:
def convert_currency(amount,rate):
    def apply_conversion():
        return amount * rate
    
    converted_amount = apply_conversion()
    print("Converted Amount: ", converted_amount)
    
convert_currency(150,79)

Converted Amount:  11850

4) Password Generator

In [234]:
import random

def generate_password():
    def generate_random_digit():
        return random.randint(0,9)
    
    def generate_random_letter():
        return chr(random.randint(97,122))
    
    password = ""
    for i in range(6):
        if random.choice([True,False]) == True:
            password += str(generate_random_digit())
        else:
            password += generate_random_letter()
            
    print("Generated Password: ", password)

In [237]:
generate_password()

Generated Password:  dnbeq0

# String Operation

**Playing with the functions which are associate with the strings**

**strip()** - It strips the spaces **by default** from left as well as right, not from the middle rahul tiwari. If we want to strip any other value we can pass that inside the bracket for example: strip('-')


**lstrip()** - It strips the spaces **by default** from the left only, we can pass lstrip('-') to strip -

**rstrip()** - It strips the spaces **by default** from the right only, we can pass rstrip('-') to strip -

In [241]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi', 'Gurgaon']
city = input('Enter the city: ').strip()

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city:             Surat
Your city Surat is present

In [242]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi', 'Gurgaon']
city = input('Enter the city: ').strip('$')

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city: $$$$Surat$$$
Your city Surat is present

In [243]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi', 'Gurgaon']
city = input('Enter the city: ').strip('$', ' ')

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city: $$Surat

TypeError: strip expected at most 1 argument, got 2

In [244]:
cities = ['Surat','Ahmedabad','Mumbai','Delhi', 'Gurgaon']
city = input('Enter the city: ').strip().strip('$')

if city in cities:
    print('Your city', city, 'is present')
else:
    print('Your city', city, 'is not present')

Enter the city:     Surat$$$$
Your city Surat is present

**find()** - It will give the first instance index of the character or a word which you are passing in the function, if the value is not present it will return -1, -1 does not mean reverese index. Here -1 means value does not exists

We can give the range as well **name.find('I',4,9)**, it will look for I from 4 to 8 index, 9 will not participate. We can also write like this **name.find('I',4)**, it means we are looking for I from 4 till the end

In [251]:
name = 'ICICI PRU Life'
name.find('P')

6

In [252]:
name = 'ICICI PRU Life'
name.find('Z')

-1

In [255]:
name = 'ICICI PRU Life'
name.find('I',4,9)

4

**rfind()** - It will give the first instance of the character or a word which you are passing in the function but from the back side, We will not get the reverse index because when the values are not present this function passes -1. It will find the value from the reverse but the index calculations will happen from the start

**name = 'ICICI PRU Life'**

**name.rfind('I',2,7)**

In this example we will get the output as 4, because it will calculate the index from the start and checks the value I from the back

In [257]:
name = 'ICICI PRU Life'
name.rfind('I')

4

In [258]:
name = 'ICICI PRU Life'
name.rfind('z')

-1

In [259]:
name = 'ICICI PRU Life'
name.rfind('I',2,7)

4

**count()** - It will count the instances of the value which you are passing in the bracket, we can give the range and get the count in that range also

In [260]:
name = 'ICICI PRU Life'
name.count('I')

3

In [262]:
name = 'ICICI PRU Life'
name.count('I',3,7)

1

**replace()** - It will replace the value in the string

In [261]:
name = 'ICICI PRU Life'
name.replace('PRU','PRO')

'ICICI PRO Life'

**split()** - Split the string based on the delimiter and it will give the output in the list format, we can split specific number of delimeter as well

In [263]:
name = 'ICICI PRU Life'
name.split(' ')

['ICICI', 'PRU', 'Life']

In [264]:
name = 'ICICI PRU Life'
name.split(' ',1)

['ICICI', 'PRU Life']

**join()** - We can convert the list to the string

In [266]:
list1 = ['ICICI', 'PRU', 'Life']
'-'.join(list1)

'ICICI-PRU-Life'

**upper()** - Upper will make all the characters as capital

**lower()** - Lower will make all the characters as small

**swapcase()** - Swapcase will swap the case i.e. caps will become small and small will become caps

**title()** - Title will make all the first character of the words to capital

**capitalize()** - Capitalize will make the first word of the entire sentance as captial rest all small

In [267]:
data = 'Icici Is a nice bank with lot of employees'

In [273]:
print(data.upper())
print(data.lower())
print(data.swapcase())
print(data.title())
print(data.capitalize())

ICICI IS A NICE BANK WITH LOT OF EMPLOYEES
icici is a nice bank with lot of employees
iCICI iS A NICE BANK WITH LOT OF EMPLOYEES
Icici Is A Nice Bank With Lot Of Employees
Icici is a nice bank with lot of employees

**startswith()** - It checks if the string starting with a character or not which you are passing in the bracket

**endswith()** - It checks if the string ending with a character or not which you are passing in the bracket

In [278]:
print(data.startswith('I'))
print(data.endswith('s'))

True
True

**isalnum()** - It checks if the string is alpha numeric or not, any string will act as alnum and it can further be segregated as alpha or numeric

**isalpha()** - It checks if the string is alpha or not

**isnumeric()** - It checks if the string is numeric or not

**isupper()** - It checks if the string is upper or not

**islower()** - It checks if the string is lower or not

**istitle()** - It checks if the string is title or not

**isspace()** - It checks for space only, we have to go to that space position and check if the space is there or not

In [281]:
data = 'rahul123'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
False
False

In [282]:
data = 'rahul'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
True
False

In [283]:
data = '123'
print(data.isalnum())
print(data.isalpha())
print(data.isnumeric())

True
False
True

In [286]:
data = 'Rahul'
print(data.isupper())
print(data.islower())
print(data.istitle())

False
False
True

In [287]:
data = 'RAHUL'
print(data.isupper())
print(data.islower())
print(data.istitle())

True
False
False

In [288]:
data = 'rahul'
print(data.isupper())
print(data.islower())
print(data.istitle())

False
True
False

In [289]:
data = 'Rahul Tiwari'
print(data.isspace())

False

In [290]:
data = 'Rahul Tiwari'
print(data[5].isspace())

True

In [291]:
data = '      '
print(data.isspace())

True

In [294]:
account_number = ['abc 123', 'xyz 321', 'pqr 456', 'zyx 789', 'qwe123']
for i in account_number:
    if i[3].isspace()==True:
        print('The account number is valid')
    else:
        print('The account number is not valid')

The account number is valid
The account number is valid
The account number is valid
The account number is valid
The account number is not valid