# Class 1 - Python - An Introduction

In [7]:
#Python - An open source programming language 
#Multi purpose programming language 
#	1) Desktop Application 
#	2) Web Application (Django/Flask) 
#	3) Data Application
#	4) Network Application
#	5) Data Analytics or Data Science 
#		a) Machine Learning
#		b) Artificial Intelligence
#	6) IoT Application
#	7) Automation
#	8) Integratable with Various other programming languages
	
#Challenges 
#	1) Slow programming language
#	2) Mobile Application
	
#It is very easy to understand, its like an english language 

#3 ways to install Python 
#	a) Python.org
#	b) Anaconda.com (Prefer) 
#	c) Google Colab 

#pip - Package management system 
#	Installation and uninstallation of the packages 

#To get the list of packages 
#pip list 

#To install any package
#pip install packagename 
#For ex: pip install seaborn 
#conda install packagename
#For ex: conda install seaborn 

#To uninstall any package
#pip uninstall packagename
#For ex: pip uninstall seaborn
#conda uninstall packagename
#For ex: conda uninstall seaborn

#Anaconda Navigator
#It helps to launch the ides (Integrated development environment) 
#Jupyter Notebook (We will use this)  
#Pycharm 
#Spyder
#Jupyter Lab

**Generate 6 digits OTP number - 10 times**

In [9]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9))

5 5 8 4 8 9
2 6 7 1 7 3
3 9 1 7 7 3
8 9 7 9 7 6
4 6 0 1 0 6
5 4 9 4 0 2
5 8 5 4 6 6
4 2 6 0 3 4
3 1 0 7 8 3
0 2 2 2 1 5

In [19]:
company_name = "ICICI PRU"

In [15]:
#Identifier/Variable name
type(company_name)

str

In [21]:
age = 23.5
type(age)

float

In [20]:
age

23

In [23]:
sales = 150.5
a = sales>100

In [25]:
type(a)

bool

In [26]:
#Dynamically typed programming language

In [27]:
#String - Str
#Integer - Int
#Decimals - Float 
#Boolean - Bool

In [41]:
#instructor_name
#instructor$name
#instructor~name = 'Rahul'
#We cannot use any other special characters except _ (underscore) while giving the variable name
#Alphabets - Small or capital anywhere
#Numbers - It cannot be at the start
#Case senstive programming language

In [38]:
cust = 'John'
CUST = 'James'

In [39]:
cust

'John'

In [40]:
CUST

'James'

In [42]:
import = 'Rahul'

SyntaxError: invalid syntax (2387721947.py, line 1)

In [44]:
import keyword 
len(keyword.kwlist)

36

In [45]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

**Slicing**

**While slicing we use square**

In [54]:
company_name = 'ICICI PRU'

In [56]:
company_name
#By pressing tab you can get all the values starting with co - Intellisense

'ICICI PRU'

In [57]:
company_name

'ICICI PRU'

In [67]:
company_name[8]

'U'

In [77]:
company_name[2:8:2]

'IIP'

In [76]:
company_name[7:3:-2]

'R '

In [78]:
company_name[4]

'I'

In [79]:
company_name[-5]

'I'

In [80]:
company_name[-8:-2]

'CICI P'

In [81]:
company_name[-8:7]

'CICI P'

In [82]:
company_name[2:-2]

'ICI P'

In [84]:
company_name[7:-8:-1]

'RP ICI'

# Python Collection datatypes - Data Structures

# **Lists**

**While creating a list we use square bracket as well**

In [137]:
ages = [21,23,43,23,22,12,11,44,33,22]

In [87]:
type(ages)

list

In [89]:
len(ages)

10

**Whenever we are using any function we will have to use () normal brackets**

In [99]:
ages[-5]

12

In [95]:
ages[9:5:-2]

[22, 44]

In [96]:
del ages

In [102]:
sum(ages)/len(ages)

25.4

In [103]:
min(ages)

11

In [104]:
max(ages)

44

In [114]:
#Properties of the list
#    -1. Duplicates are allowed
#    -2. Heterogeneous data allowed
#    -3. Mutable in nature
#    -4. Square bracket to create the list 
#    -5. Growable in nature

In [105]:
list1 = ['A',11,13.5,True]

In [110]:
type(list1[3])

bool

In [111]:
list1[0] = 'Rahul'

In [112]:
list1

['Rahul', 11, 13.5, True]

**Functions of lists**

**append** - It will append a single value in the list at the last, however, if you want to add the multiple values you can add as a list in the append, it will not act as a single entity

In [116]:
ages.append(100)

In [119]:
ages.append([101,102,103])

In [121]:
#List inside the list
ages

[21, 23, 43, 23, 22, 12, 11, 44, 33, 22, 100, [101, 102, 103]]

In [123]:
ages[11][1]

102

In [124]:
del ages[11]

**extend** - If we want to add multiple values in the list as an individual elements we can go with extend

In [127]:
ages.extend([101,102,103])

In [128]:
ages

[21, 23, 43, 23, 22, 12, 11, 44, 33, 22, 100, 101, 102, 103]

In [129]:
ages[13]

103

**clear** - Clear will clear the entire list, that means it will remove all the values from the list and the list will still be there as an empty list

In [135]:
ages.clear()

**copy** - Copy will create the proper backup, if any changes will happen in the original list there will not be any change in the copied list

In [143]:
ages1 = ages.copy()

In [149]:
ages1

[21, 23, 43, 23, 22, 12, 11, 44, 33, 22]

In [152]:
ages

[22, 23, 43, 23, 22, 12, 11, 44, 33, 22]

In [144]:
ages2 = ages

In [151]:
del ages2

In [147]:
ages[0]=22

In [154]:
ages

[22, 23, 43, 23, 22, 12, 11, 44, 33, 22]

**count** - count will count the instance of a single value in the list, for example how many 22's are there in the list

In [155]:
ages.count(22)

3

**index** - Index will give the first instance index of a value passed in the function, for example index of 22, it will give the first index of 22

In [156]:
ages.index(22)

0

**insert** - It inserts any particular value at any particular index, we cannot add multiple values

In [161]:
ages.insert(6,10)

In [162]:
ages

[22, 23, 43, 23, 22, 12, 10, 10, 11, 44, 33, 22]

**pop** - Pop removes the last value if nothing is passed inside the bracket, however if we are passing the index it will remove that index value

In [166]:
ages.pop(4)

22

**remove** - It remove the value which we are passing inside the bracket, unlike pop, in pop we were passing the index to remove that index value. Remove only remove the first instance of that value

In [169]:
ages.remove(43)

In [172]:
ages.remove(10)

**reverse** - It will just flip the list

In [174]:
ages.reverse()

**sort** - It sorts the values in the list in an ascending order, however, if you want it to be descending order you can pass one argument inside the function as reverse = True

In [176]:
ages.sort()

In [178]:
ages.sort(reverse=True)

In [179]:
ages

[44, 23, 23, 22, 12, 11, 10]

# Tuples

In [181]:
#Properties of the Tuple
#    -1. Duplicates are allowed
#    -2. Heterogeneous data allowed
#    -3. Immutable in nature
#    -4. Normal bracket to create the list

In [182]:
salary = (21,22,33,22,22,11,22)

In [184]:
type(salary)

tuple

In [185]:
len(salary)

7

In [186]:
sum(salary)

153

In [187]:
min(salary)

11

In [188]:
max(salary)

33

In [194]:
salary[0]=22

TypeError: 'tuple' object does not support item assignment

**count** - count will count the instance of a single value in the tuple, for example how many 22's are there in the tuple

In [195]:
salary.count(22)

4

**index** - Index will give the first instance index of a value passed in the function, for example index of 22, it will give the first index of 22

In [196]:
salary.index(22)

1

**How to change the values in the tuples**

In [197]:
tuple1 = (21,33,22,11,22)

In [202]:
tuple1

(21, 33, 22, 11, 22)

In [206]:
id(tuple1)

2727501857632

In [199]:
#The process will be
#    1) Convert Tuple to a List
#    2) Update the list 
#    3) Convert List back to Tuple

In [200]:
list1 = list(tuple1)

In [209]:
id(list1)

2727538355840

In [210]:
list1[0]=100

In [212]:
id(list1)

2727538355840

In [207]:
tuple1 = tuple(list1)

In [208]:
id(tuple1)

2727544940800

**Mutability means - We are updating the values in the object without overwriting the object. However, when we are converting the tuple to list and list to tuple we are overwriting the old tuple**

# Sets

In [217]:
#Properties of the Set
#    -1. Duplicates are not allowed
#    -2. Heterogeneous data allowed
#    -3. Mutable in nature
#    -4. Curly bracket to create the list 
#    -5. Values are always sorted in the ascending order
#    -6. We cannot slice the sets as there is no index

In [304]:
set1 = {10,11,14,10,12,100,45,12,16}

In [216]:
set1[2]

TypeError: 'set' object is not subscriptable

In [219]:
len(set1)

7

In [220]:
sum(set1)

208

In [221]:
min(set1)

10

In [222]:
max(set1)

100

**add** - Add will add the single value in the set based on the order

In [225]:
set1.add(13)

In [227]:
set1.add([120,130,140])

TypeError: unhashable type: 'list'

**update** - It adds multiple values based on the order

In [228]:
set1.update([120,130,140])

In [229]:
set1

{10, 11, 12, 13, 14, 16, 45, 100, 120, 130, 140}

**clear** - Clear will clear the entire set, that means it will remove all the values from the set and the set will still be there as an empty set

In [232]:
set1.clear()

In [233]:
set1

set()

**copy** - Copy will create the proper backup, if any changes will happen in the original set there will not be any change in the copied set

In [236]:
set2 = set1.copy()

In [241]:
set1.add(1000)

In [242]:
set1

{10, 11, 12, 14, 16, 45, 100, 1000}

In [239]:
id(set1)

2727547818048

In [240]:
id(set2)

2727546961696

In [243]:
set2

{10, 11, 12, 14, 16, 45, 100}

**discard** - It removes the value from the set, discard if we run again when the value is not there, it will still run but does not have any impact on the set plus there will will not be any error

In [278]:
set1.discard(1000)

**remove** - It removes the value from the set, if the value is not there it will throw the error

In [280]:
set1.remove(100)

KeyError: 100

**pop** - By default it removes the first value from the set, as set does not have index we cannot pass any values inside the function bracket of pop

**Need to check why it was removing the 16 and then 100 and after that removing the values from the start**

In [286]:
set1.pop()

12

In [305]:
set1

{10, 11, 12, 14, 16, 45, 100}

In [306]:
set1.pop()

16

In [303]:
set1.pop()

14

In [322]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set3 = {5,6,7,8,9}
set4 = {100,200}

**difference** - It will give all the unmatched values from the left set, i.e. whichever set comes first in the below example set1 is the left set

In [309]:
set1.difference(set3)

{1, 2, 3, 4}

**difference_update** - It will update the left set, i.e. whichever set comes first in the below example set1 is the left set, it will update the values based on the difference of set1 and set3

In [312]:
set1.difference_update(set3)

In [313]:
set1

{1, 2, 3, 4}

**symmetric_difference** - It will give all the unmatched values from the both the sets

In [310]:
set1.symmetric_difference(set3)

{1, 2, 3, 4, 7, 8, 9}

**symmetric_difference_update** - It will update the left set in the below example set1 with all the unmatched values from the both the sets

In [316]:
set1.symmetric_difference_update(set3)

In [317]:
set1

{1, 2, 3, 4, 7, 8, 9}

**intersection** - It will give the common values between the sets

In [319]:
set1.intersection(set3)

{5, 6}

**intersection_update** - It will update the left set, in the below example set1 is the left set, it will update the values as per the insersection i.e. common values

In [320]:
set1.intersection_update(set3)

In [321]:
set1

{5, 6}

**isdisjoint** - If there are no common values in the sets then it will considered as disjoint set and the outcome of the function will be True else False

In [323]:
set1.isdisjoint(set4)

True

**issubset** - If all the values of left set i.e. set2 in the below example are present in set 1 then the output will be True else False

In [324]:
set2.issubset(set1)

True

**issuperset** - If all the values of the right set i.e. set2 in the below example are present in set1 then the output will be True else False

In [325]:
set1.issuperset(set2)

True

**union** - It will combine all the values from both the sets, it is only throwing the output, it is not overwriting any set. If you want all the combined values in one set, you can create a finalset and it will add all the values in that set

In [329]:
finalset = set1.union(set3)

In [327]:
set1

{1, 2, 3, 4, 5, 6}

In [328]:
set3

{5, 6, 7, 8, 9}

In [330]:
finalset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Frozen sets are immutable in nature**

In [332]:
fsset = frozenset(set1)

In [334]:
fsset

frozenset({1, 2, 3, 4, 5, 6})

**Lists** - We can use lists where we know that the values will keep on changing over the period of time

**Tuples** - We can use tuples where we know that the values will never change or less frequently change over the period of time

**Sets** - We can use sets where if we have a set of values where there can be duplicate we can get the unique values from the data by using sets as sets does not entertain duplicates